<div class="mdl-grid widgets">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="widget-card mdl-card mdl-shadow--2dp" *ngFor="let widget of widgets"
      (click)="selectedWidget = widget">
      <img [src]="widget.img" [alt]="widget.name" width="100" height="100" />
      <div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{widget.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{widget.description}}, featured: {{widget.featured}}
        </div>
      </div>
      <div class="mdl-card__menu">
        <button
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="widget-card mdl-card mdl-shadow--2dp" *ngIf="!selectedWidget">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">No widget is selected</h2>
      </div>
    </div>
    <div class="widget-card mdl-card mdl-shadow--2dp" *ngIf="selectedWidget">
      <img [src]="selectedWidget.img" [alt]="selectedWidget.name" width="100" height="100" />
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{selectedWidget.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{selectedWidget.description}}, featured: {{selectedWidget.featured}}
      </div>
      <div class="mdl-card__actions">
        <button type="submit"
          class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="selectedWidget = null">Cancel</button>
        <button type="submit"
          class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Save</button>
      </div>
    </div>
  </div>
</div>
